.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-1 {
  border-radius: 1.25rem;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
